<%- include("header"); %>
<section>
  <div class="centralize">
    <h1 class="dark-color">About Us</h1>
  </div>

  <div class="box">
    <p>
      Lyseis is a software development firm that strives to not just create
      software but instead, help firms, organizations and people solve problems
      using software.
    </p>
  </div>
</section>
<%- include("footer"); %>
